.filter
    padding: 15px 15px 50px 15px
    
.mat-submit 
    background-color: #41342F
    color: white

.mat-clear
    color: #ff6028

button
    margin: 5px 10px 25px 10px

.graph
    margin-top: 20px

.col
    float: left
    width: 33%

.col1
    margin-left: 5%
    float: left
    width: 35%

.col2
    margin-left: 10%
    float: left
    width: 50%

.charts
    padding-top: 30px
    margin-left: -20px