<h1>Compliance Report</h1>

<div>
    <form class="compliance-form" [formGroup]="contractForm" (ngSubmit)="contractSubmit()">
        <mat-label>Select:</mat-label>
        <mat-form-field appearance="outline">
            <mat-label>Contract</mat-label>
            <input type="text" (keyup)="contractOnKey($event)" formControlName="contractName" matInput
                [matAutocomplete]="auto" required>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let contract of filteredContracts" [value]="contract">
                    {{contract}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Run Report</button>

        <button *ngIf="showTask" mat-stroked-button color="primary" type="submit"
            (click)="exportPDF('Weld History')">Export To PDF</button>

    </form>

    <div *ngIf="showTask" #pdf>
        <p>hello</p>
    </div>


</div>