*.sqlite3
*.bak
WAsP/Database/*.*
WAsP/Database/SensorDataDB_log.ldf
WAsP/Database/SensorDataDB.mdf
WAsP/Database/SmartFab_log.ldf
*.mdf
WAsP/Backend/WAsP/celerybeat-schedule.dat
WAsP/Backend/WAsP/celerybeat-schedule.dir
