<div class="header-wasp navbar-expand" data-position="fixed">
  <div class="img-pos">
    <a routerLink="/home">
      <img
        class="side-img-top-logo"
        src="{{ environment.static }}WAsPlatform logo.png"
    /></a>
  </div>

  <div class="home-text-1">
    <a routerLink="/home"
      ><h1>
        <span>W</span>eld <span>As</span>surance <span>P</span>latform
      </h1></a
    >
  </div>

  <!-- User button  -->
  <div class="profile">
    <div class="profile-div dropdown show m-4" *ngIf="user">
      <button
        mat-raised-button
        class="btn-user btn-warning text-center"
        type="button"
        id="dropdownUserButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="person-circle-icon bi bi-person-circle"></i>
        <span class="userName"> {{ user.username }}</span>
      </button>
      <div
        class="drop-text dropdown-menu dropdown-menu-right filter-dropdown p-1 text-center"
        aria-labelledby="dropdownUserButton"
      >
        <div class="drop-text">
          <span class="acc-font">Your Account</span>
        </div>
        <a class="dropdown-item" routerLink="/home">Home</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
