<div class="filter">
<h1>Weld History</h1>
<mat-tab-group>
    <mat-tab label="by Task">

        <ng-template matTabContent>


            <div>
                <form class="weld-history-form" [formGroup]="taskForm" (ngSubmit)="taskSubmit()">
                    <mat-label>Select:</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-label>Task ID</mat-label>
                        <input type="text" 
                                (keyup)="taskOnKey($event)"
                                formControlName="taskID"
                                matInput 
                                [matAutocomplete]="auto" 
                                required>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let task of filteredTasks" [value]="task">
                                {{ task }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Date Range</mat-label>
                        <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <button mat-raised-button color="submit" type="submit">Run Report</button>
                </form>
                <div *ngIf="showTask">
                    <button mat-raised-button (click)="accordion.openAll()">Expand All</button>
                    <button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
                </div>
                <div *ngIf="showTask">
                    <mat-accordion multi>
                    <app-task-history *ngFor="let t of task" [task]="t"></app-task-history>
                </mat-accordion>
                </div>
            </div>
        </ng-template>
    </mat-tab>


    <mat-tab label="by Welder">

        <ng-template matTabContent>
            <form class="weld-history-form" [formGroup]="welderForm" (ngSubmit)="welderSubmit()">
                <mat-label>Select:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>Welder Name</mat-label>
                    <input type="text" 
                            matInput 
                            (keyup)="welderOnKey($event)"
                            formControlName="welderID"
                            [matAutocomplete]="auto" required>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let welder of filteredWelders" [value]="welder">
                            {{ welder }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date Range</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Run Report</button>


            </form>

            <div *ngIf="showWelder" #pdfWelders>
                <mat-accordion multi>
                <app-welder-history *ngFor="let w of welders" [item]="w"></app-welder-history>
            </mat-accordion>
            </div>

        </ng-template>

    </mat-tab>


    <mat-tab label="by Machine"> Machine ID


        <ng-template matTabContent>
            <form class="weld-history-form" [formGroup]="machineForm" (ngSubmit)="machineSubmit()"> 
                <mat-label>Select:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>Machine</mat-label>
                    <input type="text" 
                            (keyup)="machineOnKey($event)"
                            formControlName="machineID"
                            name="machineID"
                            matInput 
                            [matAutocomplete]="auto" 
                            required>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let machine of filteredMachines" [value]="machine">
                            {{ machine }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date Range</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                        <input matStartDate 
                                placeholder="Start date" 
                                formControlName="dateStart">
                        <input matEndDate 
                                placeholder="End date" 
                                formControlName="dateEnd">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <button mat-raised-button color="submit" type="submit">Run Report</button>
            </form>

            <div *ngIf="showMachine">
                <button mat-raised-button (click)="accordion.openAll()">Expand All</button>
                <button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
            </div>
            <div *ngIf="showMachine">
                <app-machine-history *ngFor="let rt of realtime" [realtime]="rt"></app-machine-history>
            </div>           
        </ng-template>

    </mat-tab>
</mat-tab-group>
</div>