<!--TO FIX NOTES 
+ 10/5 the header still not fixed to the page need to fix
+ workout to center nav bar contents 
+ responsive image in nav bar
+ move menu contents down below logo 
+ workout padding on car-container to be relative to sidebar 
C:\NewSmartFabDB\Project\WAsP\Frontend\WAsP\src\assets\smartfab_logo.png

-->
<div class="app-container">
  <mat-drawer-container>
    <div class="nav">
      <div class="row col-12">
        <div class="home-logo d-flex justify-content-start">
          <button
            mat-fab
            type="button"
            mat-button
            (click)="drawer.toggle()"
            class="btn-home btn-warning m-2"
            color="#FCFBFB"
          >
            <!--the above colour when removed changes the styling ?? -->
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="home-text-1 justify-content-center">
          <h1><span>W</span>eld <span>A</span>ssurance <span>P</span>rogram</h1>
        </div>
        <div class="home-text-1 justify-content-center">
          <h1>Smart Fabrication</h1>
        </div>
        <!-- User button  -->
        <div class="profile" *ngIf="user">
          <div class="dropdown show m-2">
            <button
              mat-raised-button
              class="btn-user btn-warning text-center"
              type="button"
              id="dropdownUserButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="bi bi-person-circle"></i>
              <span style="font-weight: bold"> {{ user.username }}</span>
            </button>
            <div
              class="dropdown-menu dropdown-menu-right filter-dropdown p-1 text-center"
              aria-labelledby="dropdownUserButton"
            >
              <div class="bg-dark rounded text-white">
                <small>
                  <span class="font-weight-bold">Your Account</span></small
                >
              </div>
              <a class="dropdown-item" href="/settings">Settings</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-drawer #drawer class="sidebar" mode="side">
      <div class="img-pos">
        <img
          class="side-img-top-logo"
          src="{{ environment.static }}WAsP design 6.png"
        />
      </div>
      <h2>Menu</h2>
      <ul>
        <li>
          <a href="#"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-user"></i> Profile</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-address-card"></i> Weld Assurance</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-project-diagram"></i> Prodcutivity</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-blog"></i> Admin Access</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-address-book"></i> Contact</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-map-pin"></i> Map</a>
        </li>
      </ul>
    </mat-drawer>

    <router-outlet></router-outlet>
    <footer class="app-footer">
      <p>
        <span class="org">W</span>eld <span class="org">A</span>ssurance
        <span class="org">P</span>rogram
        <span> Copyright © 2022</span>
        <span> Smart Fabrication Pty Ltd </span>
        <span>| ABN: 70 089 359 366 |</span>
        <span> ACN: 089 359 366</span>
        <img
          class="footer-img-logo"
          src="{{ environment.static }}smartfab_logo.png"
        />
      </p>
      <!-- <script>
      document.write(new Date().getFullYear());
    </script>-->
    </footer>
  </mat-drawer-container>
</div>
<!--
<script>
   const date = new Date();
   const jsYear = document.getElementByID("js-year");
  js-year.innerHTML = date.getFullYear();
</script>-->
