<!--TO FIX NOTES 
+ 10/5 the header still not fixed to the page need to fix
+ workout to center nav bar contents 
+ responsive image in nav bar
+ move menu contents down below logo 
+ workout padding on car-container to be relative to sidebar 

-->

<mat-drawer-container autosize>
  <div class="nav">
    <div class="row col-12">
      <div class="d-flex justify-content-start col-1">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div>
      <div class="d-flex justify-content-center col-10">
        <h1>Smart Fabrication | Weld Assurance Program</h1>
      </div>
      <div class="d-flex justify-content-end col-1">
        <button type="button" mat-button >
          Button Goes Here
        </button>
      </div>
    </div>
  </div>

  <mat-drawer #drawer class="sidebar" mode="side">
    <div class="img-pos">
      <img class="img-top-logo" src="{{environment.static}}WAsP design 6.png" />
    </div>
    <h2>Menu</h2>
    <ul>
      <li>
        <a href="#"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-user"></i> Profile</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-address-card"></i> Weld Assurance</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-project-diagram"></i> Prodcutivity</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-blog"></i> Admin Access</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-address-book"></i> Contact</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-map-pin"></i> Map</a>
      </li>
    </ul>
  </mat-drawer>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<footer class="app-footer">
  <p>
    Copyright © 2022 Smart Fabrication Pty Ltd | ABN: 70 089 359 366 | ACN:
    089 359 366
    <!-- <script>
      document.write(new Date().getFullYear());
    </script>-->
  </p>
</footer>
<!--end of class container-->

<!--
<script>
   const date = new Date();
   const jsYear = document.getElementByID("js-year");
  js-year.innerHTML = date.getFullYear();
</script>-->
