<div class="container-fluid g-0">
  <app-header (headerEventSide)="receivedEvent($event)"></app-header>

  <div class="spacer-top"></div>

  <div
    class="main-content"
    [class.main-content]="isMenuOpened"
    [class.main-content-closed]="!isMenuOpened"
  >
    <router-outlet class="display-area">
      <app-side-bar
        class="app-side-bar"
        [class.app-side-bar]="isMenuOpened"
        [class.app-side-bar-closed]="!isMenuOpened"
      >
      </app-side-bar>
    </router-outlet>
  </div>
  <div class="spacer-bottom"></div>
  <app-footer></app-footer>
</div>
