@import "../styles"
// .container{
// position: absolute;
// top:0;
// left:0;
// right:0;
// bottom:0;
// }
    
// .container.mat-drawer{
// padding-left: 20px;
// padding-left: 20px;
// min-width: 200px    
      
//         }

.app-container
  display: flexbox
  height: 90vh
  padding: 0.2rem
  background-color: $bgKhakiLight
  width: 100%


.nav
  background-color: $SidebarBlue
    // $bgKhakiDark
  //$waspHeadBlack
  //
  top: 0px
  left: 0px
  width: 100%

  //position: relative
  a
    color: $waspLetterCream
  h1
    color: $waspLetterCream
      // $waspLetterOrange
    //text-transform: uppercase
    text-align: center
    margin-bottom: 8px

  ul
    color: $waspHeadGrey
    li
      display: inline
      padding-left: 45px

.app-footer
  background-color: $waspHeadBlack
  //$waspHeadGrey
  color: $waspLetterCream
  justify-content: space-around
  text-align: center
  position: fixed
  width: 100%