@import "../styles"

.app-header
  position: fixed
  width: 100vh
  top: 0px
  height: $headerHeightSize
  z-index: 2

.spacer-top
  height: calc($headerHeightSize + 2rem)
  align-items: center
  justify-content: center
  min-width: 100% !important
  top: 0 !important

.spacer-bottom
  height: 4rem
  align-items: center
  justify-content: center!important
  min-width: 100% !important
  bottom: 0 !important

.nav-list
  height: 100%
  padding: 0
  margin-bottom: 0

// open sidebar 
.main-content
  position: absolute
  top: calc( $headerHeightSize - 0.5rem )
  justify-content: center
  z-index: 1
  width: $mainContentWidthOpen
  left: $mainContentLeftOpen

.app-side-bar
  position: fixed
  left: 0rem
  width: $sidebarWidthOpen // the org size when toggled
  min-height: 100%
  z-index: 2
  //top: -0.5px
  box-shadow: 0px 0px 25px $waspHeadBlack
  background-color: $OLDboxHeader
  border-top: 5px solid $OLDboxHeader
  //overflow: hidden
  white-space: nowrap
  min-height: 100%

// Closed sidebar 
.main-content-closed
  position: absolute
  top: $headerHeightSize
  z-index: 1
  width: $mainContentWidthClosed
  left: $mainContentLeftClosed

.app-side-bar-closed
  position: fixed
  left: 0rem
  width: $sidebarWidthClosed
  min-height: 100vh
  z-index: 2
  box-shadow: 0px 0px 35px $waspHeadBlack
  background-color: $OLDboxHeader
  overflow: hidden
  white-space: nowrap

.menuDiv-Closed
  background: green
  color: $OLDboxHeader
  height: 6rem
  width: 6rem
  position: relative
  margin: 5px

// media for responsive sizes larger to smaller - max 

@media ( max-width: 3000px )

  .main-content
    width: calc($mainContentWidthOpen - $largeResAdd )
    left: calc($mainContentLeftOpen + $largeResAdd)
  .app-side-bar
    width: calc( $sidebarWidthOpen + $largeResAdd)

  // Closed sidebar 
  .main-content-closed
    width: calc($mainContentWidthClosed - 90px)
    left: calc($mainContentLeftClosed + 90px)
  .app-side-bar-closed
    width: calc( $sidebarWidthClosed + 65px)

// //Media height ----------------------------------------------------------------------
@media ( max-height: 1300px )

  .main-content
    width: calc($mainContentWidthOpen - ($largeResAdd/2))
    left: calc($mainContentLeftOpen + ($largeResAdd/2))
  .app-side-bar
    width: calc( $sidebarWidthOpen + ($largeResAdd/2))

  // Closed sidebar 
  .main-content-closed
    width: calc($mainContentWidthClosed - (90px/2))
    left: calc($mainContentLeftClosed + (90px/2))
  .app-side-bar-closed
    width: calc( $sidebarWidthClosed + (65px/2))
