<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <realtime-card></realtime-card>
                <realtime-card></realtime-card>
                <realtime-card></realtime-card>
                <realtime-card></realtime-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <realtime-card></realtime-card>
                <realtime-card></realtime-card>
                <realtime-card></realtime-card>
                <realtime-card></realtime-card>
            </div>
        </div>
    </div>
</div>