<div class="dashboard">
  <div class="pageTitle">
    <span class="iconsDash"><i class="icon fas fa-hourglass-half"></i></span>
    <span class="dashboard-heading">Realtime Weld Views</span>
  </div>
  <div class="topRowDiv">
    <div class="display-box">
      <mat-card class="lineSelction">
        <mat-card-title class="tileLine">Line Selection</mat-card-title>
        <mat-form-field
          appearance="fill"
          *ngFor="let s of selected; let i = index"
          class="Variable-Dropdown"
        >
          <mat-label>Variable</mat-label>
          <mat-select
            [(value)]="selected[i]"
            (selectionChange)="updateSelected($event)"
          >
            <mat-option></mat-option>
            <mat-option [value]="option.name" *ngFor="let option of specList">{{
              option.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="display-box">
      <mat-card class="colourSelction">
        <mat-card-title class="tileLine">Legend</mat-card-title>
        <mat-card-content class="legend">
          <div *ngFor="let line of lines">
            <div *ngIf="line.line">
              <label class="label-line-colour">{{ line.line }}</label>
              <input
                [(colorPicker)]="line.colour"
                [style.background]="line.colour"
                class="input-colour"
              />
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="liveBoxes">
    <div *ngFor="let machine of machineList" class="boxes">
      <realtime-card
        (machineUpdateEvent)="updateAlerts($event)"
        [Machine]="machine.MachineID"
        [LineColours]="lines"
        [List]="selection"
        class="cards realtime-widget"
      ></realtime-card>
    </div>
  </div>
</div>
