@import "../../styles"
  
.realtime-widget
  width: 400px
  height: 300px

.dashboard
  top: 0px
  left: 0px
  width: 97% //smaller due to the padding
  color: $waspLetterCream

.dashboard-heading
  text-align: center
  margin-bottom: 8px