<mat-card class="realtime-widget">
  <mat-card-header>
    <mat-card-title>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-center">Machine ID: {{Task.MachineID}}</div>
        <div class="col-2"></div>
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="row">
          <div class="col-4 justify-center">Task ID: {{Task.TaskID}}</div>
          <div class="col-4 justify-center">Welder ID: {{Task.WelderID}}</div>
          <div class="col-4 justify-center">Run No: {{Task.RunNo}}</div>
        </div>
    </mat-card-subtitle> 
  </mat-card-header>
  <mat-card-content> 
    <div echarts [options]="chartOption" (chartInit)="onChartInit($event)" class="realtime-chart"></div>
  </mat-card-content>
</mat-card>