<div class="container"> 
<mat-card class="realtime-widget" >
  <mat-card-header>
    <mat-card-title class="container">
      <div class="row">
        <div class="col-10 text-center">Machine ID: {{Machine}}</div>
        <div class="col-2">
          <span class="badge badge-light"
            role="tooltip"
            data-toggle="tooltip"
            data-html="true"
            data-placement="bottom"
            data-title="{{createAlertTooltip()}}"
            >
            {{numAlerts}}
          </span>
        </div>
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="row" *ngIf="Task">
          <div class="col-4 justify-center">Task ID: {{Task.TaskID}}</div>
          <div class="col-4 justify-center">Welder ID: {{Task.WelderID}}</div>
          <div class="col-4 justify-center">Run No: {{Task.RunNo}}</div>
      </div>
    </mat-card-subtitle> 
  </mat-card-header>
  <mat-card-content> 
    <div echarts [options]="chartOption" (chartInit)="onChartInit($event)" class="realtime-chart"></div>
  </mat-card-content>
</mat-card>
</div>