<mat-card class="realtime-widget">
  <mat-card-header>
    <mat-card-title>
      <div class="row">
      <div>Task ID: {{Task.TaskID}}</div>
      <div> Run No: {{Task.RunNo}}</div>
    </div>
    </mat-card-title> <!--  -->
    <mat-card-subtitle>
      <div class="row">
        <div>Welder ID: {{Task.WelderID}}</div>
        <div> Machine ID: {{Task.MachineID}}</div>
      </div>
    </mat-card-subtitle> 
  </mat-card-header>
  <mat-card-content> 
    <div echarts [options]="chartOption" (chartInit)="onChartInit($event)" class="realtime-chart"></div>
  </mat-card-content>
</mat-card>