<div class="footer-wasp">
  <div class="home-text-2">
    <span class="org">W</span>eld <span class="org">As</span>surance
    <span class="org">P</span>latform
  </div>
  <div class="home-text-2">
    <span> Copyright © 2022</span>
  </div>
  <div class="home-text-2">
    <span> Smart Fabrication Pty Ltd </span>
  </div>
  <div class="home-text-2">
    <span>| ABN: 70-089-359-366 |</span>
  </div>
  <div class="home-text-2">
    <span>| ACN: 089-359-366 |</span>
  </div>
  <div class="home-text-2">
    <img
      class="footer-img-logo"
      src="{{ environment.static }}smartfab_logo.png"
    />
  </div>
</div>
