<mat-spinner *ngIf="!hideSpinner"></mat-spinner>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Task ID: {{ task.TaskID }}
    </mat-panel-title>
    <mat-panel-description *ngIf="noData">
      <p>No weld data available for this Task ID</p>
    </mat-panel-description>     
  </mat-expansion-panel-header>

  <div *ngIf="!noData">
    <div>
    <h6 id="wps">WPS</h6>
    <table mat-table [dataSource]="wps" class="wps">

      <ng-container matColumnDef="WPS_No">
        <th mat-header-cell *matHeaderCellDef> WPS No</th>
        <td mat-cell *matCellDef="let w"> {{w.WPS_No}} </td>
      </ng-container>
      <ng-container matColumnDef="Run_No">
        <th mat-header-cell *matHeaderCellDef> Run </th>
        <td mat-cell *matCellDef="let w"> {{ w.Run_No }} </td>
      </ng-container>
      <ng-container matColumnDef="Welding_Code">
        <th mat-header-cell *matHeaderCellDef> Welding Code </th>
        <td mat-cell *matCellDef="let w"> {{ w.Welding_Code }} </td>
      </ng-container>
      <ng-container matColumnDef="Joint_type">
        <th mat-header-cell *matHeaderCellDef> Joint Type </th>
        <td mat-cell *matCellDef="let w"> {{ w.Joint_type }} </td>
      </ng-container>
      <ng-container matColumnDef="Side">
        <th mat-header-cell *matHeaderCellDef> Side </th>
        <td mat-cell *matCellDef="let w"> {{ w.Side }} </td>
      </ng-container>
      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let w"> {{ w.Position }} </td>
      </ng-container>
      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let w"> {{ w.Size }} </td>
      </ng-container>
      <ng-container matColumnDef="Class">
        <th mat-header-cell *matHeaderCellDef> Class </th>
        <td mat-cell *matCellDef="let w"> {{ w.Class }} </td>
      </ng-container>
      <ng-container matColumnDef="Gas_Flux_Type">
        <th mat-header-cell *matHeaderCellDef> Gas/Flux Type </th>
        <td mat-cell *matCellDef="let w"> {{ w.Gas_Flux_Type }} </td>
      </ng-container>
      <ng-container matColumnDef="Current">
        <th mat-header-cell *matHeaderCellDef> Current (A) </th>
        <td mat-cell *matCellDef="let w">{{ w.Current_Min }} - {{ w.Current_Max }}</td>
      </ng-container>
      <ng-container matColumnDef="Voltage">
        <th mat-header-cell *matHeaderCellDef> Voltage (V) </th>
        <td mat-cell *matCellDef="let w"> {{ w.Voltage_Min }} - {{ w.Voltage_Max}} </td>
      </ng-container>
      <ng-container matColumnDef="Polarity">
        <th mat-header-cell *matHeaderCellDef> Polarity </th>
        <td mat-cell *matCellDef="let w"> {{ w.Polarity }} </td>
      </ng-container>
      <ng-container matColumnDef="TravelSpeed">
        <th mat-header-cell *matHeaderCellDef> Travel Speed (mm/min) </th>
        <td mat-cell *matCellDef="let w"> {{ w.TravelSpeed_Min }} - {{ w.TravelSpeed_Max}} </td>
      </ng-container>
      <ng-container matColumnDef="InterpassTemp">
        <th mat-header-cell *matHeaderCellDef> Interpass Temp &#176;C</th>
        <td mat-cell *matCellDef="let w"> {{ w.InterpassTemp_Max}} </td>
      </ng-container>
      <ng-container matColumnDef="HeatInput">
        <th mat-header-cell *matHeaderCellDef> Heat Input (Kj/mm) </th>
        <td mat-cell *matCellDef="let w"> {{ w.HeatInput_Min }} - {{ w.HeatInput_Max}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="wpsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: wpsColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No WPS data</td>
      </tr>

    </table>
  </div>
  <mat-divider></mat-divider>
  <div>


    <h6>Weld Range Summary</h6>

    <table mat-table [dataSource]="taskRange" class="realtime">

      <ng-container matColumnDef="RunActual">
        <th mat-header-cell *matHeaderCellDef> Run </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].RunNo }} </td>
      </ng-container>
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Start Time </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].Date }} </td>
      </ng-container>
      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef> Weld Duration (mins) </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].Timedelta | number: '1.2-2' }} </td>
      </ng-container>
      <ng-container matColumnDef="Welder">
        <th mat-header-cell *matHeaderCellDef> Welder ID </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].WelderID }} </td>
      </ng-container>
      <ng-container matColumnDef="Machine">
        <th mat-header-cell *matHeaderCellDef> Machine ID </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].MachineID }} </td>
      </ng-container>
      <ng-container matColumnDef="CurrentActual">
        <th mat-header-cell *matHeaderCellDef> Current Range (A)</th>
        <td mat-cell *matCellDef="let r">{{ r[0].Current_Min | number: '1.2-2' }} - {{ r[0].Current_Max | number: '1.2-2' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="CurrentAvg">
        <th mat-header-cell *matHeaderCellDef> Current Avg (A)</th>
        <td mat-cell *matCellDef="let r">{{ r[0].Current_Sum / r[0].Records| number: '1.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="VoltageActual">
        <th mat-header-cell *matHeaderCellDef> Voltage Range (V) </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].Voltage_Min | number: '1.2-2' }} - {{ r[0].Voltage_Max | number: '1.2-2' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="VoltageAvg">
        <th mat-header-cell *matHeaderCellDef> Voltage Avg (V) </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].Voltage_Sum / r[0].Records | number: '1.2-2' }} </td>
      </ng-container>
      <ng-container matColumnDef="TravelSpeedActual">
        <th mat-header-cell *matHeaderCellDef> Travel Speed Range (mm/min)</th>
        <td mat-cell *matCellDef="let r"> {{ r[0].TravelSpeed_Min | number: '1.2-2' }} - {{ r[0].TravelSpeed_Max | number:
          '1.2-2' }} </td>
      </ng-container>
      <ng-container matColumnDef="TravelSpeedAvg">
        <th mat-header-cell *matHeaderCellDef> Travel Speed Avg (mm/min)</th>
        <td mat-cell *matCellDef="let r"> {{ r[0].TravelSpeed_Sum / r[0].Records | number: '1.2-2' }} </td>
      </ng-container>
      <ng-container matColumnDef="HeatInputActual">
        <th mat-header-cell *matHeaderCellDef> Heat Input Range (Kj/mm) </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].HeatInput_Min | number: '1.2-2' }} - {{ r[0].HeatInput_Max | number: '1.2-2'}} </td>
      </ng-container>
      <ng-container matColumnDef="HeatInputAvg">
        <th mat-header-cell *matHeaderCellDef> Heat Input Avg (Kj/mm) </th>
        <td mat-cell *matCellDef="let r"> {{ r[0].HeatInput_Sum / r[0].Records | number: '1.2-2' }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="actualColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: actualColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No Weld Data</td>
      </tr>

    </table>

  </div>
  <br>
  <div>
    <h6> Weld Variance Summary (Out of Parameters)</h6>

    <table *ngFor="let r of taskRange" style="margin-top: 10pt;" class="table realtime">
      <tr>
        <th> Run {{ r[0].RunNo }} </th>
        <th> Current (A) </th>
        <th> Voltage (V) </th>
        <th> Travel Speed (mm/min) </th>
        <th> Heat Input (Kj/mm) </th>
      </tr>
      <tr>
        <td>Percentage Increase From Max WPS Value</td>
        <td>{{ r[0].Current_Overpercent | number: '1.2-2' }}%</td>
        <td>{{ r[0].Voltage_Overpercent | number: '1.2-2' }}%</td>
        <td>{{ r[0].TravelSpeed_Overpercent | number: '1.2-2' }}%</td>
        <td>{{ r[0].HeatInput_Overpercent | number: '1.2-2' }}%</td>
      </tr>
      <tr>
        <td>Duration Over Max WPS Value (mins)</td>
        <td>{{ r[0].Current_Overtime | number: '1.2-2' }}</td>
        <td>{{ r[0].Voltage_Overtime | number: '1.2-2' }}</td>
        <td>{{ r[0].TravelSpeed_Overtime | number: '1.2-2' }}</td>
        <td>{{ r[0].HeatInput_Overtime | number: '1.2-2' }}</td>
      </tr>
      <tr>
        <td>Percentage Decrease From Min WPS Value</td>
        <td>{{ r[0].Current_Underpercent | number: '1.2-2' }}%</td>
        <td>{{ r[0].Voltage_Underpercent | number: '1.2-2' }}%</td>
        <td>{{ r[0].TravelSpeed_Underpercent | number: '1.2-2' }}%</td>
        <td>{{ r[0].HeatInput_Underpercent | number: '1.2-2' }}%</td>
      </tr>
      <tr>
        <td>Duration Under Min WPS Value (mins)</td>
        <td>{{ r[0].Current_Undertime | number: '1.2-2' }}</td>
        <td>{{ r[0].Voltage_Undertime | number: '1.2-2' }}</td>
        <td>{{ r[0].TravelSpeed_Undertime | number: '1.2-2' }}</td>
        <td>{{ r[0].HeatInput_Undertime | number: '1.2-2' }}</td>
      </tr>

    </table>
    <mat-divider></mat-divider>
    <div>
      <h6>All Weld History Records</h6>
      <mat-form-field  appearance="fill">
        <mat-label>Filter RunNo</mat-label>
        <input matInput placeholder="please enter Run Number" (keyup)="applyFilter($event)">
      </mat-form-field>
  
      <table mat-table [dataSource]="allDataList" class="realtime" matSort>
  
        <ng-container matColumnDef="RunNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> RunNo </th>
          <td mat-cell *matCellDef="let r"> {{ r.RunNo }} </td>
        </ng-container>
        <ng-container matColumnDef="Time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Time (ACST) </th>
          <td mat-cell *matCellDef="let r"> {{ r.Time | date: 'medium'}} </td>
        </ng-container>
        <ng-container matColumnDef="WelderID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Welder ID </th>
          <td mat-cell *matCellDef="let r"> {{ r.WelderID }} </td>
        </ng-container>
        <ng-container matColumnDef="MachineID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Machine ID </th>
          <td mat-cell *matCellDef="let r"> {{ r.MachineID }} </td>
        </ng-container>
        <ng-container matColumnDef="Current">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Current (A)</th>
          <td mat-cell *matCellDef="let r">{{ r.Current | number: '1.2-2' }}</td>
        </ng-container>
        <ng-container matColumnDef="Voltage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Voltage (V) </th>
          <td mat-cell *matCellDef="let r"> {{ r.Voltage | number: '1.2-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="TravelSpeed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Travel Speed (mm/min)</th>
          <td mat-cell *matCellDef="let r"> {{ r.TravelSpeed | number: '1.2-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="HeatInput">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Heat Input (Kj/mm) </th>
          <td mat-cell *matCellDef="let r"> {{ r.HeatInput | number: '1.2-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="Temperature">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature &#176;C </th>
          <td mat-cell *matCellDef="let r"> {{ r.Temperature | number: '1.2-2' }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="allDataColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: allDataColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No Weld Data</td>
        </tr>
  
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  
    </div>


  </div>
</div>

</mat-expansion-panel>