<div class="container">
  <div class="dashboard">
    <div class="pageTitle">
      <span class="iconsDash"><i class="icon fas fa-hourglass-half"></i></span>
      <span class="dashboard-heading">Specification View</span>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h1></h1>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Welding Procedure Specification</mat-label>
          <input
            type="text"
            placeholder="Select Specification"
            aria-label="Specification"
            matInput
            (keyup)="SpecOnKey($event)"
            [formControl]="specFilter"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let Specification of filteredOptions"
              [value]="Specification"
            >
              {{ Specification }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div >
      <div class="row">
        <button mat-flat-button class="btn btn-warning text-center" type="button" *ngIf="!newSpecification"  (click)="createNew()">New</button>
        <button
          mat-flat-button
          class="btn btn-warning text-center"
          type="button"
          *ngIf="!Editing && SpecLoaded"
          (click)="editMode()"
        >
          Edit
        </button>
        <button
          mat-flat-button
          class="btn btn-warning text-center"
          type="button"
          *ngIf="Editing"
          (click)="onSubmit()"
        >
          Save
        </button>
      </div>
      <div class="row">
        <div *ngIf="SpecLoaded && formLoaded">
          <mat-tab-group dynamicHeight>
            <div *ngFor="let Specification of Specifications">
              <form [formGroup]="createFormGroup(Specification)">
                <mat-tab label="Run {{ Specification.Run_No }}">
                  <div class="mat-elevation-z4">
                    <div>
                      <mat-form-field
                        appearance="fill"
                        *ngFor="let specName of SortedSpecList"
                      >
                        <mat-label>{{ specName }}</mat-label>
                        <input
                          id="input_{{ specName }}_{{ Specification.Run_No }}"
                          type="text"
                          value="{{ Specification[specName] }}"
                          formControlName="{{ specName }}"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
              </form>
            </div>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div *ngIf="newSpecification" class="row">
      <mat-tab-group dynamicHeight>
        <div>
          <form [formGroup] ="wpsForm" (ngSubmit)="wpsSubmit()">
            <mat-tab label="Add WPS">
              <div class="mat-elevation-z4">
                <div>
                  <mat-form-field appearance="fill" *ngFor="let specName of AllSpecList ">
                    <mat-label>{{specName}}</mat-label>
                    <input 
                      id="{{specName}}"
                      type="text"
                      formControlName = "{{specName}}"
                      matInput>
                  </mat-form-field>
                  <div>
                  <button mat-flat-button class="btn btn-warning text-center" type="button" (click)="wpsSubmit()">Add</button>
                </div>
                </div>
              </div>
            </mat-tab>
          </form> 
        </div>
      </mat-tab-group>
      
    </div>
  </div>


