table 
  width: 100%
  box-shadow: 0 10px 20px #c9c9c9

th
  font-size: small
  font-weight: normal
  color: #757575

#wps
  font-size: medium
  color: #484412
  font-weight: 600

h6
  font-size: medium
  color: #4B4276
  font-weight: 600

mat-panel-title
  font-weight: 500

mat-divider
  margin: 30px

mat-spinner
  margin: 50px
  color: #4B4276

