<!--Center Content with Cards * removed home container after Flex was added -->

<div class="card-container">
  <div class="card">
    <h2>Live Welds</h2>
    <p>
      <a routerLink="/realtime/dashboard/" style="text-decoration: none">
        <img class="image-cards" src="{{ environment.static }}welderpic.png" />
      </a>
    </p>
    <a
      href="http://localhost:4200/realtime/dashboard"
      class="btn btn-primary stretched-link"
      >Monitor live welds with job ID, employee, machine…</a
    >
  </div>
  <div class="card">
    <h2>Weld History</h2>
    <!--C:\NewSmartFabDB\Project\WAsP\Frontend\WAsP\src\{{environment.static}}\weld histroy WAsPcolor.png 
    http://localhost:4200/weld-history-->
    <p>
      <a routerLink="/weld-history/" style="text-decoration: none">
        <img
          class="image-cards"
          src="{{ environment.static }}weld histroy WAsPcolor.png"
        />
      </a>
    </p>
    <a
      href="http://localhost:4200/weld-history"
      class="btn btn-primary stretched-link"
      >View work history with job ID, employee, machine…</a
    >
  </div>
</div>
