<div class="card-container">
  <div class="card card-1">
    <div class="icons">
      <i class="icon fas fa-hourglass-half"></i>
    </div>
    <div class="titles">
      <a routerLink="/realtime/dashboard" class="stretched-link">
        Realtime Weld</a
      >
    </div>
    <!--<div class="More info..">More in info..</div> -->
    <div class="info-text">
      <span>Monitor live welds with with alerts</span>
    </div>
  </div>
  <!-- end of REAL TIME -->

  <div class="card">
    <div class="icons">
      <i class="icon fas fa-edit"></i>
    </div>
    <div class="titles">
      <a routerLink="/weld-history" class="stretched-link">Weld History</a>
    </div>
    <div class="info-text">
      <span>View weld history by task ID, employee, or machine…</span>
    </div>
  </div>
  <!-- end of history -->
  <div class="card">
    <div class="icons">
      <i class="icon fas fa-blog"></i>
    </div>
    <div class="titles">
      <a routerLink="/compliance" class="stretched-link">Compliance</a>
    </div>
    <div class="info-text">
      <span> View reports via contract ID, export to PDF…</span>
    </div>
  </div>
  <!-- end of compliance-->
  <div class="card">
    <div class="icons">
      <i class="icon fas fa-project-diagram"></i>
    </div>
    <div class="titles">
      <a routerLink="/compliance/TaskDashboard" class="stretched-link"
        >Task Dashboard</a
      >
    </div>
    <div class="info-text">
      <span>View weld perfomance with visualisations</span>
    </div>
  </div>
  <!-- end of Task Tracking -->
  <div class="card">
    <div class="icons">
      <i class="icon fas fa-paste"></i>
    </div>
    <div class="titles">
      <a routerLink="/specification" class="stretched-link">Specifications</a>
    </div>
    <div class="info-text">
      <span>View, edit and add welding procedure specifications (WPS)</span>
    </div>
  </div>
  <!-- end of Specifications -->
  <div class="card">
    <div class="icons">
      <i class="icon fas fa-user"></i>
    </div>
    <div class="titles">
      <a routerLink="/account/login" class="stretched-link">User Account</a>
    </div>
    <div class="info-text">
      <span>
        Add and register users</span
      >
    </div>
  </div>
  <!-- end of Account Access -->
</div>
