@import "../../styles"

.side-bar-content
    color: $waspBoarderWhite
    width: $sidebarWidthOpen
    margin-left: 1rem
    margin-right: 1rem
    margin-top: calc( $headerHeightSize + $headerHeightSize )
    min-height: 100%
    justify-content: center

.side-nav-button
    width: $sidebarWidthOpen
    font-size: 1rem
    display: flex
    align-items: center
    height: 4rem
    margin-top: 1.5rem
    margin-bottom: -1rem
    // border: 5px solid $LastProjRed
    &:hover
        background-color: $waspHeadGrey
        box-shadow: 0px 0px 10px $waspHeadBlack
        border-radius: 10px
        min-width: 400px
        height: 4rem
        .btn-home
            height: 4rem
            width: 4rem
        .icon
            color: $waspLetterOrange
            width: 4rem

.btn-home

    height: 3rem
    width: 3rem
    margin-right: 1rem
    text-align: center
    line-height: 3rem
    justify-content: center
    border-radius: 50%
    background: none

    &:active
        color: $waspBoarderWhite

    .icon
        height: 2rem
        width: 2rem
        text-align: center
        margin-left: 1rem
        color: $waspBoarderWhite

    .spans
        color: $waspBoarderWhite
        width: $sidebarWidthOpen

        a

            text-decoration: none
            color: $waspBoarderWhite
            font-size: 1rem

    .iconRight
        transition: 1s

    .iconLeft
        transition: 1s

.nav-list
    list-style: none
    padding: 0px
    margin-bottom: 0%

.nav-list-item
    display: flex
    align-items: center
    height: 3rem
    margin-top: 1.5rem
    min-width: 300px
    //border: 5px solid $waspBoarderWhite

    .icon
        height: 2rem
        width: 2rem
        margin-left: 1rem
        margin-right: 1rem
        text-align: center
        line-height: 2rem

    .iconTime
        height: 1.7rem
        width: 1.7rem
        margin-left: 1.3rem
        margin-right: 1rem
        text-align: center
        line-height: 2rem

    span
        color: $waspBoarderWhite
        width: $sidebarWidthOpen
    a
        text-decoration: none
        color: $waspBoarderWhite
        font-size: 1rem

    &:hover
        background-color: $waspHeadGrey
        box-shadow: 0px 0px 10px $waspHeadBlack
        border-radius: 10px
        .icon
            color: $waspLetterOrange
            width: 40px
        .iconTime
            color: $waspLetterOrange
            width: 30px

// // media for responsive sizes larger to smaller - max -------------------

@media ( max-width: 3000px )

    .side-bar-content
        width: calc( $sidebarWidthOpen + 20px)
        margin-left: 1.5rem
        margin-right: 1.5rem
        margin-top: 13rem

    .side-nav-button
        width: calc( $sidebarWidthOpen + $largeResAdd)
        font-size: 2rem
        height: 5rem
        margin-top: 2rem
        margin-bottom: -1.5rem
        &:hover
            .btn-home
                height: 5rem
                width: 5rem
            .icon
                width: 5rem

    .btn-home
        height: 4rem
        width: 4rem
        margin-right: 3rem
        line-height: 4rem
        .icon
            height: 3rem
            width: 3rem
            margin-left: 1rem
            a
                font-size: 2rem

    .nav-list-item // change the hight between list items
        height: 4rem
        margin-top: 4rem
        min-width: calc( $sidebarWidthOpen + $largeResAdd)
        .icon
            height: 3rem
            width: 3rem
            margin-left: 1rem
            margin-right: 2rem
            line-height: 3rem
        .iconTime
            height: 2.7rem
            width: 2.7rem
            margin-left: 1rem
            margin-right: 2rem
            text-align: center
            line-height: 3rem
        a
            font-size: 2rem

        &:hover
            .icon
                width: 4rem
            .iconTime
                width: 3.5rem

//Media height ----------------------------------------------------------------------
@media ( max-height: 1300px )

    .side-nav-button
        font-size: 1.3rem

    .btn-home
        margin-right: 1rem

        .icon //Home bnt icon
            //border: 5px solid $waspBoarderWhite
            height: 2.5rem
            width: 2.5rem
            margin-top: 0.5rem
            margin-left: 0%

    .nav-list-item
        //border: 5px solid green
        height: 3rem
        margin-top: 3.5rem
        min-width: 300px

        .icon
            //border: 5px solid $waspBoarderWhite
            height: 2.5rem
            width: 2.5rem
            margin-left: 0.5rem
            margin-right: 1.5rem
            line-height: 2rem

        .iconTime
            //border: 5px solid $waspBoarderWhite
            height: 2.3rem
            width: 2.3rem
            margin-left: 0.6rem
            margin-right: 1.6rem
        a
            font-size: 1.3rem

//Media height ----------------------------------------------------------------------
@media ( max-height: 1180px )

    .side-bar-content
        margin-top: 8rem
    .nav-list-item // change the hight between list items
        height: 3rem
        margin-top: 2.5rem

//Media height ----------------------------------------------------------------------
@media ( max-height: 950px )

    .side-bar-content
        margin-top: 6rem
    .nav-list-item // change the hight between list items
        height: 2.5rem
        margin-top: 2rem

//Media height ----------------------------------------------------------------------
@media ( max-height: 850px )

    .nav-list-item // change the hight between list items
        height: 2rem
        margin-top: 1.5rem

        .icon
            //border: 5px solid $waspBoarderWhite
            height: 2rem
            width: 2rem

        .iconTime

            height: 1.7rem
            width: 1.7rem
            margin-right: 1.8rem
