<h2>Machine {{realtime[0].MachineID}}</h2>

<mat-accordion multi>

    <mat-expansion-panel *ngFor="let task of result | keyvalue" [expanded]="true" id="history">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Task ID: {{ task.key}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!validTaskID.includes(task.value[0]['TaskID'])"><p>No WPS data available</p></div>

        <div *ngIf="validTaskID.includes(task.value[0]['TaskID'])">
            
            <h4>WPS</h4>
            <table>
                <tr>
                    <td>WPS No</td>
                    <td>Run No</td>
                    <td>Welding Code</td>
                    <td>Class</td>
                    <td>Gas Flux Type</td>
                    <td>Joint Type</td>
                    <td>Polarity</td>
                    <td>Position</td>
                    <td>Side</td>
                    <td>Size</td>
                    <td>Current</td>
                    <td>Voltage</td>
                    <td>Heat Input</td>
                    <td>Interpass Temp</td>
                    <td>Travel Speed</td>


                </tr>


                <tr *ngFor="let w of wps[validTaskID.indexOf(task.value[0]['TaskID'])]">
                    <td>{{ w.WPS_No }}</td>
                    <td>{{ w.Run_No }}</td>
                    <td>{{ w.Welding_Code }}</td>
                    <td>{{ w.Class }}</td>
                    <td>{{ w.Gas_Flux_Type }}</td>
                    <td>{{ w.Joint_type }}</td>
                    <td>{{ w.Polarity }}</td>
                    <td>{{ w.Position }}</td>
                    <td>{{ w.Side }}</td>
                    <td>{{ w.Size }}</td>
                    <td>{{ w.Current_Min }} - {{ w.Current_Max}}</td>
                    <td>{{ w.Voltage_Min }} - {{ w.Voltage_Max}}</td>
                    <td>{{ w.Heat_Input_Min }} - {{ w.Heat_Input_Max}}</td>
                    <td>{{ w.Interpass_Temp_Min }} - {{ w.Interpass_Temp_Max}}</td>
                    <td>{{ w.Travel_Speed_Min }} - {{ w.Travel_Speed_Max}}</td>
                </tr>
            </table>

            <br>
        </div>

        <div>
            <h4>Actual</h4>
            <table>
                <tr>
                    <td>Run No</td>
                    <td>Date</td>
                    <td>Welder ID</td>
                    <td>Weld Duration (mins)</td>
                    <td>Current</td>
                    <td>Voltage</td>
                    <td>Heat Input</td>
                    <td>Interpass Temp</td>
                    <td>Travel Speed</td>

                </tr>


                <tr *ngFor="let r of taskRange[0]">
                    <td>{{ r.RunNo }}</td>
                    <td>{{ r.Date }}</td>
                    <td>{{ r.WelderID }}</td>
                    <td>{{ r.Timedelta | number: '1.2-2' }}</td>
                    <td>{{ r.Current_Min | number: '1.2-2' }} - {{ r.Current_Max | number: '1.2-2' }}</td>
                    <td>{{ r.Voltage_Min | number: '1.2-2' }} - {{ r.Voltage_Max | number: '1.2-2' }}</td>
                    <td>{{ r.Heat_Input_Min | number: '1.2-2' }} - {{ r.Heat_Input_Max | number: '1.2-2' }}</td>
                    <td>{{ r.Interpass_Temp_Min | number: '1.2-2' }} - {{ r.Interpass_Temp_Max | number: '1.2-2' }}</td>
                    <td>{{ r.Travel_Speed_Min | number: '1.2-2' }} - {{ r.Travel_Speed_Max | number: '1.2-2' }}</td>
                </tr>
            </table>
            <br>
        </div>

        <div *ngIf="validTaskID.includes(task.value[0]['TaskID'])">
            <h4>Variance</h4>
            <table>
                <tr>
                    <td></td>
                    <td>Current</td>
                    <td>Voltage</td>
                    <td>Heat Input</td>
                    <td>Interpass Temp</td>
                    <td>Travel Speed</td>
                </tr>
                <tr>
                    <td>% Over Max Value</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>% Under Min Value</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Duration Over Max Value</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Duration Under Min Value</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        
        </div>

    </mat-expansion-panel>

</mat-accordion>