// variables
// Test weights 
$hairline-weight: 100
$thin-weight: 200
$light-weight: 300
$normal-weight: 400
$medium-weight: 500
$semibold-weight: 600
$bold-weight: 700
$xbold-weight: 800
$black-weight: 900

// Colours 

$bgKhakiDark: #625b33
$bgKhakiLight: #888159
$waspButtYellow: #fff34c
$waspWingCream: #edc49c
$waspDeepGreen: #484412
$waspHeadGrey: #929191
$grey: #c9c6c6
$waspHeadBlack: #2b2a29
$waspLetterOrange: #ff6028
$waspLetterCream: #f9ecd3
$waspBoarderWhite: #eae8de
$standUpBgSlideTen: #41342F
$shadows: #161616
// OLD Colours 
$OLDboxHeader: #374785
$OLDBlue: #5364A8
//feautered colours 
$SidebarBlue: #4b4276
$SideBarBodyBackgroundcolor: #f3f5f9
$SideBarHover: #594f8d
$SideBarA: #fff

$TextSidePadding: 1rem
$SidePadding: 16px
$Toppadding: 50px
$BottomPadding: 50px
// reset settings from last project and defaults.  
*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

html
  height: 100%

body
  min-height: 100vh
  margin: 0
  margin-bottom: 0

p
  margin: 0
  padding: 0
  border: 0

//footer div
