// variables

$bgKhakiDark: #625b33
$bgKhakiLight: #888159
$waspButtYellow: #fff34c
$waspWingCream: #edc49c
$waspDeepGreen: #484412
$waspHeadGrey: #929191
$grey: #c9c6c6
$waspHeadBlack: #2b2a29
$waspLetterOrange: #ff6028
$waspLetterCream: #f9ecd3
$waspBoarderWhite: #eae8de
$standUpBgSlideTen: #41342F
$shadows: #161616
// OLD Colours 
$OLDboxHeader: #374785
//feautered colours 
$SidebarBlue: #4b4276
$SideBarBodyBackgroundcolor: #f3f5f9
$SideBarHover: #594f8d
$SideBarA: #fff

body
  height: 100%

.home-container
  display: grid
  height: 100vh
  grid-template-columns: 0.5fr 1fr 1fr 1fr
  grid-template-rows: 60px 180px 180px 180px 30px
  //grid-auto-rows: minmax(100px, auto)
  grid-template-areas: "sidebar nav nav nav" "sidebar card-container card-container card-container" "sidebar card-container card-container card-container" "sidebar card-container card-container card-container" "sidebar footer footer footer"
  grid-gap: 0.2rem
  padding: 0.2rem
  background-color: $bgKhakiLight
  width: 100%

main
  background-color: $waspHeadGrey
  grid-area: main

.sidebar
  background-color: $SidebarBlue
  color: $waspLetterCream
  grid-area: sidebar
  // padding: 30px 0px // changes to opx cards move over the top of side bar??
  //text-align: center
  grid-row-start: 1
  grid-column-start: 1
  grid-column-end: 2
  bottom: 0px
  left: 0px
  min-height: 100%
  position: fixed

  h2
    color: $waspBoarderWhite
    text-transform: uppercase
    text-align: center
    margin-bottom: 20px
  ul li
    padding: 20px
    border-bottom: 1px solid $waspLetterCream
    border-bottom: 1px solid $waspHeadBlack
    border-top: 1px solid $waspHeadBlack

    a
      color: $waspLetterCream
      display: block

      .fas
        width: 25px

      &:hover
        //background-color: $waspButtYellow
        background-color: $bgKhakiDark
        //$SideBarHover

        a
          color: $SideBarA

.card-container
  background-color: $bgKhakiLight
  color: $waspLetterCream
  grid-area: card-container
  display: grid
  height: 100%
  //width: 100%
  //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  grid-template-columns: repeat(3, 1fr)
  grid-auto-columns: minmax(1fr, atuo)
  grid-auto-rows: minmax(100px, auto)
  grid-template-areas: "card-1 card-2 card-3"
  grid-gap: 2em
  //0.1rem
  //padding: 0.2rem
  //padding-left: 75px
  justify-content: space-around

.card
  //background-color: $waspLetterOrange // bit too bright 
  //background-color: $bgKhakiDark // best one so far 
  //background-color: $waspHeadGrey // Nope
  background-color: $standUpBgSlideTen // Nice need to change footer and hearder to better suit
  //background-color: $bgKhakiDark // Nice need to change footer and hearder h1 colour to better suit 
  //background-color: $bgKhakiLight// Nope
  // background-color:$waspButtYellow// Nope
  //background-color: $waspWingCream // not sure maybe to bright 
  //background-color: $waspDeepGreen // Nope
  //background-color: $waspHeadGrey //not sure need to change footer and hearder h1 colour to better suit 
  //background-color: $grey//not sure need to change content/text colour to better suit 
  //background-color: $waspHeadBlack // looks cool but will need to change pics/ icons 
  // background-color: $waspLetterCream // useable need to change content/text colour to better suit 
  //background-color: $waspBoarderWhite// useable need to change content/text colour to better suit 
  //background-color: $shadows // Nice but might be too dark need to change footer and hearder to better suit 
  //position: relative
  //left: 75px
  //padding: 2em
  border-radius: .1em
  box-shadow: 20px 10px 30px $shadows

  h2
    color: $waspLetterOrange
    text-transform: uppercase
    text-align: center
    margin-bottom: 5px
    //$waspBoarderWhite
    //$waspLetterOrange

    // &:hover
    //   background-color: $waspHeadGrey
    //   color: $shadows
  p
    text-align: center

  &:hover
    background-color: $bgKhakiDark
    color: $waspBoarderWhite
    //$shadows

.cards
  background-color: $waspLetterOrange
  color: $waspLetterCream
  grid-area: cards
  border: $waspLetterCream

.card-1
  background-color: $waspLetterOrange
  border: $waspLetterCream
  grid-area: card-1

.card-2
  background-color: $waspDeepGreen
  border: $waspLetterCream
  grid-area: card-2

.card-3
  background-color: $waspButtYellow
  border: $waspLetterCream
  grid-area: card-3
  color: black

nav
  background-color: $SidebarBlue
    // $bgKhakiDark
  //$waspHeadBlack
  //
  grid-area: nav
  top: 0px
  left: 0px
  //width: 100%

  //position: relative
  a
    color: $waspLetterCream
  h1
    color: $waspLetterCream
      // $waspLetterOrange
    //text-transform: uppercase
    text-align: center
    margin-bottom: 8px

  ul
    color: $waspHeadGrey
    li
      display: inline
      padding-left: 45px

footer
  background-color: $waspHeadBlack
  //$waspHeadGrey
  color: $waspLetterCream
  grid-area: footer
  justify-content: space-around
  text-align: center
  bottom: 0px
  left: 205px
  right: 0px
  position: fixed
  bottom: 0
  //width: 100%
  grid-row-start: 5
  grid-row-end: 6
  grid-column-start: 2

@media only screen and (max-width:650px)
  .card-container
    grid-template-columns: 1fr
    grid-auto-rows: 1fr
    grid-template-areas: "nav" "sidebar" "card-container" "card-container" "card-container" "footer"

.img-top-logo
  max-width: 11rem
  margin-bottom: 20px

  //top: 100px
  //left: 2px
  //padding-top: 10px

.img-pos
  padding-top: 100px // image still stuck in top corner 11:50 10/5

.image-cards
  //max-width: 1rem
  height: 4rem
  margin-bottom: 8px
